* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn:focus {
    box-shadow: none;
}
.fs-40px {
    font-size: 40px!important;
}
.w-35 {
    width: 35% !important;
}

.bg-pelayanan {
    background: #ff6704;
}

.animateWidth {
    -webkit-animation: animateWidth 0.8s linear forwards;
    animation: animateWidth 0.8s linear forwards;
}

@-webkit-keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}
@keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}
.form__container {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: auto;
    min-height: 100%;
    padding: 0px 20px 20px 20px;
    text-align: center;
    background: #fff;
    transition: all 0.6s ease-in;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fc8a82;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fc364f;
}
.go-login .form__container-login {
    left: 35%;
    opacity: 0;
}
.go-register .form__container-login {
    left: 0;
    opacity: 1;
    z-index: 0;
}
.go-login .form__container-register {
    left: 35%;
    opacity: 1;
    z-index: 0;
}
.go-register .form__container-register {
    left: 0;
    opacity: 0;
}

.form {
    width: 100%;
}
.form__heading {
    font-size: 40px;
    color: #063f4f;
    margin: 0.6em 0;
}
.form__field {
    width: 100%;
    line-height: 35px;
    padding-left: 15px;
    margin-bottom: 15px;
    /* background: #f4f8f7; */
    border: none;
    /* text-align: center; */
}
.form__field:last-child {
    margin-bottom: 0;
}
.form__field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: capitalize;
}
.form__field::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: capitalize;
}
.form__field:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: capitalize;
}
.form__field:-moz-placeholder {
    /* Firefox 18- */
    text-transform: capitalize;
}
.form__field:focus, .form__field:active {
    outline: 0;
}
.form__text {
    margin-bottom: 15px;
    font-size: 14px;
}

.list {
    padding-left: 0;
}
.list__inline {
    margin-bottom: 15px;
}
.list__inline .list__item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #063f4f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.list__inline .list__link {
    color: #063f4f;
    text-decoration: none;
}
.list__inline .list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.overlay-container {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    text-align: center;
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    transition: all 0.8s cubic-bezier(0.67, 0.67, 0.34, 0.95);
}
.go-login .overlay-container {
    right: 65%;
}
.go-register .overlay-container {
    right: 0;
}

.overlay {
    padding: 25px;
    color: #fff;
    position: absolute;
    width: 100%;
}
.overlay__heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.overlay__desc {
    max-width: 320px;
    width: 320px;
    text-align: justify;
    margin: auto;
    letter-spacing: 0.5px;
    word-spacing: -1px;
}
.overlay--left {
    opacity: 0;
    z-index: 99;
}
.go-login .overlay--left {
    z-index: 99;
    opacity: 1;
}
.go-register .overlay--left {
    opacity: 0;
    z-index: -1;
}
.overlay--right {
    opacity: 0;
    z-index: 99;
}
.go-login .overlay--right {
    opacity: 0;
    z-index: -1;
}
.go-register .overlay--right {
    z-index: 99;
    opacity: 1;
}

.btn {
    padding: 8px 30px;
    border: none;
    /*border-radius: 30px;*/
    font-size: 16px;
}
.btn--main {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    color: #fff;
}
.btn--main:hover {
    color: #fff;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ff6704;
}
.btn--main-outline {
    border: 2px solid #fbfffd;
    color: #fbfffd;
    width: 75%;
}
.btn--main-outline:hover {
    border: 2px solid #ff6704;
    font-weight: bold;
    background: #f7f7f7;
    color: #ff6704;
}
.btn--sectionstep {
    border-radius: 0px;
    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.btn--second:hover {
    color: #fff;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ff6704;
}
.btn--second {
    background: linear-gradient(45deg, rgb(162, 53, 86) 0%, rgb(255, 0, 0) 68%, rgb(216, 190, 56) 100%);
    color: #fff;
}
.btn:hover {
    cursor: pointer;
}
.btn:focus, .btn:active {
    outline: 0;
}
.dividers {
    font-size: 34px;
    font-weight: 300;
}

/*FORM WIZARD*/
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    width: 100%;
}

#msform fieldset {
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea, .stepContainer input, .stepContainer textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus, .stepContainer input:focus, .stepContainer textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff6704;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/

#msform .action-button-previous, .stepContainer .action-button-previous {
    width: 100px;
    color: #063f4f;
    border: 0 none;
    /*border-radius: 25px;*/
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus, .stepContainer .action-button-previous:hover, .stepContainer .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #fff;
    background: #212529;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ff6704;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ff6704;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/*SEARCH FIELD*/
.dropdown-search {
    /*position: absolute;*/
    /*top: 100%;*/
    /* left: 0; */
    /*z-index: 1061;*/
    display: none;
    float: left;
    /*min-width: 16rem;*/
    /*max-width: 30rem;*/
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 20px;
    /*margin: .125rem 0 0;*/
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-search > a > .dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-content {
    top: 40px;
    right: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.shows {
    display: block !important;
}

.npwp-detail {
    padding: 16px 16px 0 16px;
}
.npwp-detail_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.7rem;
}
.npwp-detail_item_label {
    color: rgba(0,0,0,.4);
    font-size: .875rem;
    width: 6.25rem;
}
.npwp-detail_item_div {
    height: .9375rem;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.npwp-detail_item_div_1 {
    font-size: .875rem;
    font-weight: 600;
}

.checking-detail {
    padding: 16px 16px 0 16px;
}
.checking-detail_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.7rem;
}
.checking-detail_item_label {
    color: #063f4f;
    font-size: .875rem;
    /*width: 6.25rem;*/
    text-align: left;
}
.checking-detail_item_div {
    height: .9375rem;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 100%;
}
.checking-detail_item_div_1 {
    font-size: .875rem;
    font-weight: 600;
}

/*UPLOAD*/
.custom-file-input {
    cursor: pointer;
}

/*RADIO*/
.btn-pelayanan {
    background: #ff6704;
    color: #fff!important;
    border-color: #ff6704;
    width: 100%;
}
.radioBtn .notActive{
    color: #ff6704!important;
    background-color: #fff;
    border: 1px #ff6704 solid;
}
.labelRad {
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 0px!important;
    text-align: left;
    color: #6c757d !important;
}

/*CUSTOM STEP WIZARD*/
.stepContainer {
    width: 100%;
}
.stepContainer .stepWizard:not(:first-of-type) {
    display: none;
}
.btn-start {
    height: 100%;
    width: 45%;
    border-radius: 0;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.7em;
}

.btn--selects {
    border: 2px #fe6937 solid;
    width: 90%;
    margin-bottom: 10px;
    height: 100%;
    font-size: 16px;
    background: #fff;
}
.btn--selects:hover {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    color: #fff;
    border: 2px #ffffff solid;
    font-weight: bold;
}
.activeSearch {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    color: #fff;
    border: 2px #ffffff solid;
    font-weight: bold;
}

/*CUSTOM BS*/
.nav-tabs .nav-link.active {
    color: #ff6700;
    font-weight: bold;
}
.nav-tabs .nav-link {
    color: #212529;
}
.btn-selPerizinan {
    border: 1px #ddd solid;
    color: #6b6b6b;
    height: 100%;
    width: 100%;
    display:flex;/*CSS3*/
    align-items:center;/*Vertical align*/
    justify-content:center;/*horizontal align*/
}
.btn-selPerizinan:hover {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    color: #fff;
}


/* MEDIA FOR RESPONSIVE
 Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap
 */
.col-izin{
    display: inline-flex;
}
@media screen and (min-width: 768px) {

}
@media (max-width: 768px) {
    .modal.left .modal-dialog, .modal.right .modal-dialog {
        width: 100% !important;
    }
    .bg-bubbles {
        width: 80% !important;
    }
    .position-btnreset {
        right: 2% !important;
    }
    .btn--selects{
        width: 100%;
    }
    .form__container {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
    .go-login .form__container-register {
        left: 0% !important;
    }
    .overlay-container {
        width: 0%;
        display: none !important;
    }
    .form__heading {
        font-size: 21px;
        letter-spacing: 1px;
    }
    .btn-start {
        height: 2.3em;
        font-size: 1rem;
        letter-spacing: 3px;
        width: 100%;
    }
    .col-form-label {
        padding-bottom: 0px!important;
    }
    /*IMG LOGO*/
    .img-logo_pemprov {
        /*display: none;*/
    }
    .col-izin{
        display: inline-block;
    }
}


.bg-shattered::after {
    content: "";
    background-image: url(../img/shattered.png);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.bg-an {
    background-color: #f1f1f1;
    /*background-image: url("../img/bright-squares.png");*/
}

/*LOADER CSS*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #cef;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

/*CUSTOM FORM TABLE*/
.custom-th {
    padding: 0 !important;
    vertical-align: middle !important;
}
.custom-td {
    padding: 0 !important;
}
.table-form {
    margin-bottom: 0px !important;
    height: 40px;
}
.table-form_sec {
    background: #fbfbfb;
}
.filter-option-inner-inner {
    text-align: center;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    border-radius: 0;
    margin-bottom: 10px;
}
.inpSelectData {
    height: 40px;
    /* text-align-last:center; */
    font-size: 13px;
    color: #5d5d5d;
    margin-bottom: 10px !important;
}

/**/
.position-btnreset {
    position: absolute;
    top: 3%;
    right: 37%;
    z-index: 1;
}

/*CHECKBOX FORM IZIN*/
.formrad div {
    clear: both;
    overflow: hidden;
}

.formrad label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ffffff;
    font-weight: normal;
}

.formrad input[type="radio"]:empty,
.formrad input[type="checkbox"]:empty {
    display: none;
}

.formrad input[type="radio"]:empty ~ label,
.formrad input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    margin-top: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formrad input[type="radio"]:empty ~ label:before,
.formrad input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #dddddd;
    border-radius: 3px 0 0 3px;
}

.formrad input[type="radio"]:hover:not(:checked) ~ label,
.formrad input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.formrad input[type="radio"]:hover:not(:checked) ~ label:before,
.formrad input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .1em;
    color: #124653;
}

.formrad input[type="radio"]:checked ~ label,
.formrad input[type="checkbox"]:checked ~ label {
    color: #0a3240;
}

.formrad input[type="radio"]:checked ~ label:before,
.formrad input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .1em;
    color: #333;
    background-color: #ccc;
}

.formrad input[type="radio"]:focus ~ label:before,
.formrad input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.formrad-default input[type="radio"]:checked ~ label:before,
.formrad-default input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
}

/*FLOATING LABEL*/
/*input.custLabel::-webkit-input-placeholder { !* Edge *!*/
/*    color: #f4f8f7;*/
/*}*/

/*input.custLabel:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
/*    color: #f4f8f7;*/
/*}*/

/*input.custLabel::placeholder {*/
/*    color: #f4f8f7;*/
/*}*/
/*.custLabel {*/
/*    color: rgba(44, 62, 80, .75);*/
/*    border-width: 0;*/
/*    z-index: 2000;*/
/*}*/
/*.custFloatLabel, .custLabel {*/
/*    font: inherit;*/
/*    line-height: 1;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/
/*.custLabel:focus {*/
/*    outline: 0;*/
/*    box-shadow: 0;*/
/*}*/
/*.custLabel, .custFloatLabel-wrap {*/
/*    position: relative;*/
/*}*/
/*.custLabel-a:focus + .custFloatLabel, .custLabel-a:not(:placeholder-shown) + .custFloatLabel {*/
/*    z-index: 2500;*/
/*    padding: .75em 0;*/
/*    transform: translate(0, -2em) scale(.9);*/
/*    color: rgb(6, 63, 79);*/
/*    outline: none;*/
/*    font-size: 1.2rem;*/
/*    text-align: center;*/
/*}*/
/*.custLabel-a + .custFloatLabel {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: .75em;*/
/*    display: inline-block;*/
/*    width: auto;*/
/*    margin: 0;*/
/*    padding: .75em;*/
/*    transition: transform .25s, opacity .25s, padding .25s ease-in-out;*/
/*    transform-origin: 0 0;*/
/*    color: rgb(6, 63, 79);*/
/*    z-index: 2001;*/
/*}*/
/*.custLabel-a:focus, .custLabel-a:not(:placeholder-shown) {*/
/*    border-color: rgba(255, 255, 255, .1);*/
/*}*/
/*.custLabel-a {*/
/*    padding: 1.5em;*/
/*    transition: border-color .25s ease-in-out;*/
/*    color: rgba(255, 255, 255, .75);*/
/*    border: 1px solid rgba(255, 255, 255, .1);*/
/*    border-radius: 5px;*/
/*}*/

/*CUSTOM MODAL*/
.full_modal-dialog {
    width: auto;
    height: auto;
    min-width: 98% !important;
    min-height: 92% !important;
    padding: 0 !important;
}

.full_modal-content {
    height: auto;
    min-height: 99% !important;
}

.contentList {
    margin-bottom: 0.6em;
}

/*RECTANGLE ANIMATION*/
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0,.1);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 160px;
    height: 160px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(0, 0, 0,.1);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: rgba(0, 0, 0,.1);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(0, 0, 0,.1);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bg-bubbles li:nth-child(11) {
    left: 70%;
}
.bg-bubbles li:nth-child(12) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: rgba(0, 0, 0,.1);
}
.bg-bubbles li:nth-child(13) {
    left: 32%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 1s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(14) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

/*BACK TO TOP*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/*Keprofesian*/
.applContainer {
    padding: 5px 15px;
    height: 100%;
    border-radius: 10px;
    border: 2px #f4f8f7 solid;
    box-shadow: 3px 3px 7px 0px #cacaca;
}
.applContainer:hover{
    border: 2px #ffffff solid;
    box-shadow: 3px 3px 7px 0px #757575;
}
.button-labels label {
    cursor: pointer;
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    height: 100%;
}
.btnBg-appl-new {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
}
.btnBg-appl-exp {
    background: linear-gradient(45deg, rgb(145, 110, 252) 0%, rgb(24, 170, 193) 68%, rgb(89, 222, 161) 100%);
}
.btnBg-appl-renew {
    background: linear-gradient(45deg, rgb(184, 252, 110) 0%, rgb(68, 199, 126) 68%, rgb(245, 223, 64) 100%);
}
.btnBg-appl-change {
    background: linear-gradient(45deg, rgb(52, 92, 236) 0%, rgb(155, 68, 199) 68%, rgb(64, 178, 245) 100%);
}
.ulcardITBX {
    text-align: left;
    list-style: none;
    font-size: 14px;
    border: 1px #dee2e6 solid;
    padding: 10px;
    font-weight: lighter;
}
.licardITBX {

}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    z-index: 1050;
    position: fixed;
    margin: auto;
    width: 35%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.text-cust {
    font-size: 13pt;
    letter-spacing: 1px;
    font-weight: 400;
}

/* Detail Izin */
.isiTxtIzin {
    text-align: center;
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 1px;
    color: #59848c;
}

.right-2perc {
    right: 2% !important;
}

.divider-border {
    border: 1px #d8d8d8 solid;
    height: 2px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
}

.boxSection {
    padding: 10px;
    background: #b9b9b90a;
    border: 1px #9e9e9e solid;
    margin-bottom: 20px;
}