/* Comment */

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    display: block;
    max-height: 60vh;
    min-height: 10vh;
    overflow-x: scroll;
    border: 1px #ced4da solid;
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.nav-custom {
    /* border: 1px #3f6ad8 solid; */
    margin-bottom: 10px;
}
.jFiler-input {
    width: 100% !important;
}

.loaders {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.loaders::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgba(118, 118, 118, 0.3);

}


input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    /* border-radius: 15px; */
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgba(118, 118, 118, 0.3);
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    width:800px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
.notif-container::after {
    display: none;
}
.notif-active>.notif-ico-border {
    border-color: #3f6ad8 !important;
}
.notif-active>.notif-ico-border>.notif-ico{
    color: #3f6ad8 !important;
}
.notif-ico-border {
    border: 2px #949595 solid;
    border-radius: 100%;
    padding: 7px 11px;
    position: relative;
}
.notif-container {
    margin-right: 1.5rem;
    cursor: pointer;
}
.notif-ico {
    font-size: 17px;
    color: #949595;
}
.have-notif {
    position: absolute;
    background: #3f6ad8;
    border-radius: 100%;
    font-size: 11px;
    color: #fff;
    padding: 2px;
    top: 50%;
    width: 60%;
    text-align: center;
    /* display: none; */
}
.setWidthComm {
    max-width: 55%;
    width: fit-content;
}
.contImgComment {
    border: 1px #6e777f5e solid;
    padding: 5px;
    text-align: center;
    background: #fafbfc;
    border-radius: 5px;
    display: inline-block;
}
.contImgComment:hover {
    border: 1px solid #38a3ff;
    background: #e2e2e2;
}
.contImgName {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    display: block;
}
.txtFileName {
    color: #6c757d;
    font-size: 9px;
    display: block;
    margin-top: 5px;
    line-height: 10px;
}
.contImgName:hover {
    color: #38a3ff;
    text-decoration: none;
}
.imgComment {
    width: 50px;
}
.haveUpload {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.chatSenderCont {
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    width: 100%;
}
@media screen and (max-width: 420px) {
    .setWidthComm {
        width: 100%;
        max-width: 100%;
    }
}

.remove_button {
    vertical-align: middle;
    align-self: center;
    margin-top: 11px;
    margin-left: 20px;
    color: #d60f0f;
    font-size: 24px;
}
.roundedimg {
    height: 200px;
    background: url("../images/userdefault.png") center center no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    width: 43%;
    box-shadow: 0px 2px 8px #0000001c;
}

.fixWidthTh {
  width: 290px !important;
}

.btnCheckDokumen {
  width: 100%;
  background: #3f6ad8;
  color: #ffffff;
  font-weight: bold;
  font-size: 14pt;
  border: 2px #7f7f7f solid;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radio-tile-group .input-container {
  position: relative;
  /* height: 7rem;
  width: 7rem; */
  /* margin: 0.5rem; */
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  border: 2px solid #079ad9;
  border-radius: 5px;
  padding: 1rem;
  transition: transform 300ms ease;
  background: #E5E8F0;
}
.radio-tile-group .input-container .icon svg {
  fill: #079ad9;
  width: 3rem;
  height: 3rem;
}
.radio-tile-group .input-container .radio-tile-label {
  font-size: 9pt;
  text-align: left;
  color: #545454;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #079ad9;
  border: 2px solid #079ad9;
  color: white;
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
  fill: white;
  background-color: #079ad9;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #079ad9;
}

.selBox-container {
  border-radius: 5px;
  background: #E5E8F0;
  border: #bfc4d4 solid 2px;
  padding: 20px 0;
}