.login-page,
.register-page {
  -ms-flex-align: center;
  align-items: center;
  background: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-box,
.register-box {
  width: 360px;
  position: relative;
}

.login-logo,
.register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: .9rem;
  text-align: center;
}

.login-card-body,
.register-card-body {
  background: #fff;
  border-top: 0;
  color: #666;
  padding: 20px;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
  background-color: transparent;
  border-bottom-right-radius: .25rem;
  border-left: 0;
  border-top-right-radius: .25rem;
  color: #777;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control {
  border-right: 0;
}

.login_inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.login_container__check {
  background: #b9b9b9ad;
  width: 100%;
  position: absolute;
  top: 21%;
  text-align: center;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

.login_inner__check {
  border: 4px dashed #ffffff;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  position: relative;
  top: 33%;
  left: 40%;
  opacity: 0;
}

.login_inner__check--complete i {
  line-height: 1.8em;
  color: #fff;
  font-size: 2em;
  opacity: 0;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.listTable {
  display: none;
  width: 75%;
}

.cardCustTable {
  overflow: scroll;
  max-height: 65vh;
  padding: 5px;
}

@media screen and (max-width: 420px) {
  .aligninitial {
    align-items: initial;
  }

  .listTable {
    width: 100%;
  }
}

.progresss {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.progresss .circle,
.progresss .bar {
  display: inline-block;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #d5d5da;
}

.progresss .bar {
  position: relative;
  width: 150px;
  height: 14px;
  top: -60px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progresss .bar-half {
  width: 150px;
}

.progresss .circle .label {
  display: inline-block;
  width: 92;
  height: 92;
  line-height: 88px;
  border-radius: 100%;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 31px;
}

.progresss .circle .title {
  color: #b5b5ba;
  font-size: 15px;
  line-height: 30px;
  margin-left: -5px;
  font-weight: bold;
}

/* Done / Active */

.progresss .bar.done,
.progresss .circle.done {
  background: #eee;
}

.progresss .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progresss .circle.done .label {
  color: #FFF;
  background: #3f6ad8;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progresss .circle.done .title {
  color: #444;
}

.progresss .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progresss .circle.active .title {
  color: #0c95be;
}

.bar.done {
  background: #3f6ad8 !important;
}

#progressbars {
  margin-top:10px;
  margin-bottom: 20px;
  overflow: hidden;
  color: lightgrey;
  padding-inline-start: 0 !important;
}

#progressbars .active {
  color: #3f6ad8
}

#progressbars li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

#progressbars #step1:before {
  content: "1"
}

#progressbars #step2:before {
  content: "2"
}

#progressbars #step3:before {
  content: "3"
}

#progressbars #step4:before {
  content: "4"
}

#progressbars li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbars li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbars li.active:before,
#progressbars li.active:after {
  background: #3f6ad8
}

.inp-captcha {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
}
.refreshCapt {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}