body {
	font-size: 11pt;
	font-weight: 300;
}

.card {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
	box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
	border: none;
	margin-bottom: 30px;
}

.card .card-header {
	background-color: transparent;
	/* border-bottom: none; */
	padding: 17px 20px;
}

.card-block {
	padding: 1.25rem;
}

.head-verify {
	font-size: 14pt;
	font-weight: 600;
	color: #fb9006;
	letter-spacing: 0.7px;
}

.txtNameList {
	color: rgb(128, 128, 128);
}

.txtValueList {
	/* font-size: 13px; */
	font-weight: 500;
}

.static-info {
	padding-top: 5px;
	padding-bottom: 5px;
}

.v2-footer-wrapper {
	padding: 20px 0 20px 0;
	min-height: 40px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.v2-footer-wrapper .row .v2-v-center {
	border-right: 1px solid #D8D8D8;
}

.v2-footer-title {
	font-size: 12px;
	font-family: 'Oxygen-Bold', sans-serif !important;
	color: #505A68;
}
